In [5]:
#to_datetime()
import pandas as pd
s= pd.Series(["2025-02-13 13:15:00",
              "2025-03-01 10:25:30",
              "2025-04-15 18:50:15"])
# format에서 각각이 뭘 의미하는지를 지정가능 
# %H: 24시간 단위 시간 // %h
# %M: 분 // %m 월 
pd.to_datetime(s, format="%Y-%m-%d %H:%M:%S")

0   2025-02-13 13:15:00
1   2025-03-01 10:25:30
2   2025-04-15 18:50:15
dtype: datetime64[ns]

In [9]:
# Unix 타임스탬프 // 1970년도 1월 1일 오전 0시부터 센거임
s= pd.Series([767,225,11])
pd.to_datetime(s, unit = "M")

0   2033-12-01
1   1988-10-01
2   1970-12-01
dtype: datetime64[ns]

In [14]:
#to_datetime()
import pandas as pd
s= pd.Series(["2025-02-13 13:15:00",
              "2025-03-01 10:25:30",
              "2025-04-15 18:50:15"])
# format에서 각각이 뭘 의미하는지를 지정가능 
# %H: 24시간 단위 시간 // %h
# %M: 분 // %m 월 
s = pd.to_datetime(s, format="%Y-%m-%d %H:%M:%S", 
               errors = "coerce") #에러가 나면 NaT 누락값으로 인식

In [16]:
s.dt.year, s.dt.month, s.dt.day

(0    2025
 1    2025
 2    2025
 dtype: int32,
 0    2
 1    3
 2    4
 dtype: int32,
 0    13
 1     1
 2    15
 dtype: int32)

In [18]:
#0: 월요일
s.dt.dayofweek, s.dt.day_name()

(0    3
 1    5
 2    1
 dtype: int32,
 0    Thursday
 1    Saturday
 2     Tuesday
 dtype: object)

In [20]:
# 월말인가?           월초인가?
s.dt.is_month_end, s.dt.is_month_start
# 분기 
s.dt.quarter

0    1
1    1
2    2
dtype: int32

In [22]:
# 월단위로만 표현해라 2025-02
s.dt.to_period("M")

0    2025-02
1    2025-03
2    2025-04
dtype: period[M]